<div class ="row">
  <div class = "span6 large-image">
    <img src = '/images/broke.jpg'/>
    <h3> Oops, you lost and it looks like you've ran out of money. Please come back when you are ready to try again. </h3>
  </div>
  <div class = "span6">
    <%= erb :play %>
  </div>
</div>
