<% counter = 1
  session[:dealer][:cards_dealt].each do |value, suit| %>
  <div class = "card" id = "<%= counter %>" >
    <img src = <%= "/images/cards/#{suit}_#{value}.jpg" %> />
  </div>
  <% counter +=1 %>
<%end%>
