<div>
  <% if session[:player][:total] < 21 && !session[:stay]%>
    <a class="btn btn-success btn-large" href="/hit" role="button">Hit</a>
    <a class="btn btn-danger btn-large" href="/stay" role="button">Stay</a>
  <%end%>
</div>
