<div class="row">
    <div class="col-sm-9 col-lg-6 text-danger">
        I am the main content.
    </div>
    <div class="col-sm-3 text-warning">
        I am the main sidebar.
    </div>
    <div class="col-lg-3 visible-lg text-success">
        I am the secondary sidebar that only shows up on LARGE devices.
</div>
</div>
