<h2> Welcome </h2>
<p> <%= session[:player][:name]%>, you are about to join a blackjack table. You will be given $100 play dollars to begin. To start playing please enter a bet </p>

<form class = "form-inline" action = "/bet" method = "post">
  <div class="form-group">
    <label for="player_name">Enter bet:</label>
    <input type="number" class="form-control" name = "bet" id="bet" placeholder="$1" min = "1" max = "100" step = "any" required/>
  <button type="submit" class="btn btn-primary">Play</button>
  </div>
</form>
